body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}

.orange-color{
    color: orange;
}

.flexible-container{
    display: flex;
}

.half-width{
    width: 50%;
    padding-left: 5%;
}

.half-width img{
    width: 80%;
}

.link{
    text-decoration: none;
    background-color: orange;
    color: white;
    padding: 10px 40px;
    border-radius: 30px;
    background-image: linear-gradient(orange, tomato);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}


.about{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    
}

.food-gallery{

}

.one-third-width{
    width: 29%;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}

.one-third-width img{
    width:95%;
    border-radius: 5%;
    margin-top: 5%;
}

.recipie-intro{
    text-align: center;
}


